<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>北京市</key>
	<dict/>
	<key>天津市</key>
	<string></string>
	<key>上海市</key>
	<string></string>
	<key>重庆市</key>
	<string></string>
	<key>辽宁省</key>
	<string></string>
	<key>黑龙江省</key>
	<string></string>
	<key>吉林省</key>
	<string></string>
	<key>河北省</key>
	<string></string>
	<key>陕西省</key>
	<string></string>
	<key>山西省</key>
	<string></string>
	<key>浙江省</key>
	<string></string>
	<key>河南省</key>
	<string></string>
	<key>山东省</key>
	<string></string>
	<key>江苏省</key>
	<string></string>
	<key>广东省</key>
	<string></string>
	<key>广西壮族自治区</key>
	<string></string>
	<key>福建省</key>
	<string></string>
	<key>湖南省</key>
	<string></string>
	<key>海南省</key>
	<string></string>
	<key>台湾省</key>
	<string></string>
	<key>贵州省</key>
	<string></string>
	<key>云南省</key>
	<string></string>
	<key>四川省</key>
	<string></string>
	<key>湖北省</key>
	<string></string>
	<key>青海省</key>
	<string></string>
	<key>内蒙古自治区</key>
	<string></string>
	<key>西藏自治区</key>
	<string></string>
	<key>新疆维吾尔自治区</key>
	<string></string>
	<key>宁夏回族自治区</key>
	<string></string>
	<key>江西省</key>
	<string></string>
	<key>香港特别行政区</key>
	<string></string>
	<key>澳门特别行政区</key>
	<string></string>
</dict>
</plist>
