<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>京</key>
	<string>0</string>
	<key>津</key>
	<string>1</string>
	<key>冀</key>
	<string>2</string>
	<key>晋</key>
	<string>3</string>
	<key>蒙</key>
	<string>4</string>
	<key>辽</key>
	<string>5</string>
	<key>吉</key>
	<string>6</string>
	<key>黑</key>
	<string>7</string>
	<key>沪</key>
	<string>8</string>
	<key>苏</key>
	<string>9</string>
	<key>浙</key>
	<string>10</string>
	<key>皖</key>
	<string>11</string>
	<key>闽</key>
	<string>12</string>
	<key>赣</key>
	<string>13</string>
	<key>鲁</key>
	<string>14</string>
	<key>豫</key>
	<string>15</string>
	<key>鄂</key>
	<string>16</string>
	<key>湘</key>
	<string>17</string>
	<key>粤</key>
	<string>18</string>
	<key>桂</key>
	<string>19</string>
	<key>琼</key>
	<string>20</string>
	<key>渝</key>
	<string>21</string>
	<key>川</key>
	<string>22</string>
	<key>贵</key>
	<string>23</string>
	<key>云</key>
	<string>24</string>
	<key>藏</key>
	<string>25</string>
	<key>陕</key>
	<string>26</string>
	<key>甘</key>
	<string>27</string>
	<key>青</key>
	<string>28</string>
	<key>宁</key>
	<string>29</string>
	<key>新</key>
	<string>30</string>
	<key>港</key>
	<string>31</string>
	<key>澳</key>
	<string>32</string>
	<key>台</key>
	<string>33</string>
	<key>警</key>
	<string>34</string>
	<key>军</key>
	<string>35</string>
</dict>
</plist>
